.mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-sub-title{
    color:#E6AB34;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
